<% if (typeof devices != 'undefined') { %> 
    <% devices.forEach(function(device) { %> 
        <tr>
            <th><input type="text" class="form-control" name = "device_name" id="device_name" placeholder="Enter device name" value="<%= typeof device.name != 'undefined' ? device.name : '' %>" required></th> 
            <form id= "<%= device.id %>">
                <td style="text-align: left;">
                    <div class="dropdown" class="col-md-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <% if (device.plant != null) { %>
                                <%= device.plant %> 
                            <% } else { %>
                                Activate a Plant
                            <% } %> 
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <% if (typeof plants != 'undefined') { %> 
                                <% plants.forEach(function(plant) { %> 
                                    <a href="/users/changePlant?plantid=<%= plant.id %>&deviceid=<%= device.id %>" name="<%= plant.id %>" value="<%= plant.id %>" class="dropdown-item"><%= plant.name %></a>
                                <% }) %> 
                            <% } else { %>
                                <a class="dropdown-item" href="#"> No Active Plants </a>
                            <% } %>
                        </div>
                    </div>
                </td>
            </form>
            <td colspan="1" style="text-align:right;">
                <button type="button" class="btn btn-danger">Remove</button>
            </td>
        </tr>
    <% }) %> 
<% } else { %> 
    <tr>
        <th>No Devices Linked With This Account</th>
        <td style="text-align: right;">
                <div class="dropdown" class="col-md-2">
                    
                </div>
        </td>
    </tr>
<% } %> 

